section.container__home-page{

    margin-top: 30px;
    display: flex;
    flex-direction: row;   
    justify-content: center;     
}

article.home-page__main{
    width: 40%;
    margin-left: 2%;
    margin-right: 2%;    
}

.home-page__others{
    width: 60%;
    margin-left: 2%;
    margin-right: 2%;    
}