*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
}

body{
    background-color: #e0e4c7;
}
header{
    background-color: #506266;
}

footer{
    background-color: #506266 ;
}